body {
  display: flex;
  flex-direction: column;
  justify-content: center;   
  align-items: center;       
  height: 100vh;             
  margin: 0;
  background: black;
  color: white;
  text-align: center;
  font-family: sans-serif;
}

h1 {
  font-size: 48px;   
  margin-bottom: 10px;
}

p {
  font-size: 20px;   
  margin-bottom: 20px;
}

button {
  padding: 12px 24px;       
  font-size: 20px;          
  border-radius: 8px;
  cursor: pointer;
}


.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.screen {
  display: none; 
}

.screen.active {
  display: block; 
}

canvas {
  border: 2px solid white;
  max-width: 90vw;
  max-height: 50vh;
}
